@tailwind base;
@tailwind components;
@tailwind utilities;


.app{
    border: 2px solid red;
    background-color: white;
}

h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    
}
.welcome{
    background-color: aqua;
    border: 2px solid blue
} 

